* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
div.input-container {
  display:block;
  overflow: scroll;
  position: absolute;
  top: 20%;
  left: 1%;
  width: 33%;
  height: 60%;
  border: 4px solid white;
  border-radius: 10px;
 
  }
div.inputs {
  position: absolute;
  top: 30%;
  left: 1%;
  width: 100%;
  margin-left: 1%;
}
#id_prize_name, #choice{
  width: 55%;
}
#shop_name {
  margin-top: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}
#weight, #id_probability {
  width: 25%;
  margin-right: 10px;
}
label.divider{
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color: black;
}
input#updateInfo{
  border: none;
  width: 70%;
  background-color: #000;
  color: #fdcf3b;
}
footer {
  top: 99%;
  position: absolute;
  /* bottom: 0%; */
  left: 45%;
}
div.inputs-header {
  margin-top: 2%;
  width: 100%;
  margin-left: 10px;
}
div.inputs-header > input:nth-child(1) {
  width: 25%;
  height: 35px;
}
div.inputs-header > input:nth-child(2) {
  width: 60%;
  height: 35px;
}
div.inputs-header > button {
  width: 9%;
  height: 35px;
  font-size: 17px;
}
div.Headers {
  margin-top: 2%;
  width: 100%;
  margin-left: 10px;
}
#inputForm{
  display: block;
}
div.Headers > label:nth-child(1) {
  width: 25%;
  margin-left: 4%;
  margin-right: 20%;
}
div.inputs-header > label:nth-child(2) {
  width: 60%;
}
div.inputsDiv > input{
  height: 35px;
  margin-bottom: 20px ;
}
.deleteImage {
  margin-bottom: 3px;
  margin-left: 5px;
  background-color: black;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 35px;
  color: red;
  font-size:larger;
}
input#add-choice{
  background-color: black;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 35px;
  color: greenyellow;
  font-size:larger;
}
body {
    width: 400px;
    height: 1000px;
    background: linear-gradient(135deg, #c3a3f1, #6414e9);
    
}
.wrapper {
    width: 40%;
    height: 80%;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 40%;
    top: 50%;
    left: 70%;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}

.container {
    position: absolute;
    width: 85%;
    height: 85%;
    
}
#wheel {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    padding: 0;
}
@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
}
#spin-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 16%;
    width: 16%;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background: radial-gradient(#fdcf3b 50%, #d88a40 85%);
    color: #c66e16;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: 600;
}
img {
    position: absolute;
    width: 4em;
    top: 45%;
    right: -8%;
}
#final-value {
    position: absolute;
    bottom: 0%;
    left: 25%;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1.5em;
    color: #202020;
    font-weight: 500;
}
#closedEye{
  display: block;
  top: -1.5%;
  right: 0%;
  width: 60px;
  height: 60px;
}
#openedEye{
  display: none;
  top: -1.5%;
  right: 0%;
  width: 60px;
  height: 60px;
}
  /* Pop up form */

  body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  height: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
#results span {
  font-size: 30px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  left: 0%;
  color: black;
  float: left;
  font-size: 28px;
  font-weight: bold;
}
.cograts
{
  font-size: 30px;
  margin-right: 130px;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
button.donebtn {
  width: 200px;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  margin-top: 40px;
  background-color: #fdcf3b;
}
.modal-body {padding: 2px 16px;}

@media only screen and (max-width: 1720px) {
  div.wrapper{
    max-height: 73%;
  }
  #spin-btn{
    width: 18%;
    height: 20%;
    top: 50%;
  }
}
@media only screen and (max-width: 1620px) {
  div.wrapper{
    max-height: 73%;
  }
  #spin-btn{
    width: 18%;
    height: 18%;
    top: 47%;
  }
}
@media only screen and (max-width: 1520px) {
  div.wrapper{
    max-height: 65%;
  }
}
@media only screen and (max-width: 1420px) {
  
  div.wrapper{
    max-width: 85%;
    top: 60%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    left: 50%;
  }
  .container{
    padding: 80px;
    left: 10%;
  }
  #wheel{
    position: absolute;
    max-width: 90%;
    max-width: 90%;
  }
  #spin-btn{
    width: 12%;
    height: 15%;
    top: 50%;
  }
  #selectimage{
    width: 65px;
    height: 65px;
    right: 1%;
  }
  #final-value{
    font-size: 20px;
    left: 33%;
    text-align: center;
  }
  div.input-container{
    top: 90%;
    width: 100%;
    height: 30%;
  }
  body{
    background: linear-gradient(280deg, #c3a3f1, #6414e9);
  }
  div.input-container{
    margin-top: 300px;
    max-width: 65%;
    left: 20%;
    height: 70%;  
  }
}
@media only screen and (max-width: 1250px) {
  div.wrapper{
    max-width: 85%;
    max-height: 91%;
  }
  #final-value{
    left: 32%;
    font-size: 23px;
    text-align: center;
  }
}
@media only screen and (max-width: 1150px) {
  div.wrapper{
    max-width: 85%;
    max-height: 85%;
  }
  #selectimage{
    width: 55px;
    height: 55px;
    right: 3%;
  }
}
@media only screen and (max-width: 1000px) {
  div.wrapper{
    max-width: 85%;
    max-height: 73%;
  }
  div.input-container{
    margin-top: 240px;
  }
  .modal-content {
    margin: auto;
    padding: 0;
    width: 55%;
    height: 40%;
  }
}
@media only screen and (max-width: 900px) {
  div.wrapper{
    max-width: 85%;
    max-height: 65%;
  }
  #final-value{
    left: 30%;
    font-size: 20px;
    text-align: center;
  }
  #selectimage{
    width: 50px;
    height: 50px;
    right: 5%;
  }
}
@media only screen and (max-width: 800px) {
  div.wrapper{
    max-width: 95%;
    top: 50%;
    max-height: 80%;
  }
  #spin-btn{
    width: 15%;
    height: 16%;
    top: 55%;
    left: 45%;
  }
  .container
  {
    padding: 0px;
    max-width: 100%;
    max-height: 80%;
  }
  #selectimage{
    width: 45px;
    height: 45px;
    top: 50%;
    right: 3%;
  }
  #final-value{
    font-size: 20px;
    left: 27%;
  }
  div.input-container{
    margin-top: 200px;
    max-width: 75%;
    left: 15%;
    height: 70%;  
  }

}
@media only screen and (max-width: 720px) {
  div.wrapper{
    max-width: 95%;
    top: 50%;
    max-height: 70%;
  }
.cograts, #results span {
  font-size: 20px;
}
.cograts{
  margin-left: 25%;
}
}
@media only screen and (max-width: 620px) {
  div.wrapper{
    max-width: 95%;
    top: 50%;
    max-height: 62%;
  }
  div.input-container{
    margin-top: 200px;
    max-width: 85%;
    left: 8%;
    height: 70%;  
  }
}
@media only screen and (max-width: 580px) {
  div.wrapper{
    max-width: 95%;
    top: 50%;
    max-height: 57%;
  }
  #selectimage{
    width: 30px;
    height: 30px;
    top: 50%;
    right: 4%;
  }
  #spin-btn{
    font-size: 17px;
  }
  label[for="id_probability"], label[for="id_prize_name"] {
    display: none;
  }
  #final-value{
    font-size: 20px;
    left: 23%;
  }
  input#add-choice{
    width: 50%;
    margin-top: 20px;
    margin-left: 23%;
  }
  #updateInfo{
    overflow: auto;
    margin-bottom: 50px;
  }
input::placeholder {
    font-size: 12px;
  }
.deleteImage{
  width: 25px;
  height: 25px;
}

div.inputsDiv > input{
  margin-top: 55px;
  margin-bottom: 0px;
}
#inputs{
  margin-top: 20px;
}
}
@media only screen and (max-width: 520px) {
  div.wrapper{
    max-width: 95%;
    top: 50%;
    max-height: 52%;
  }
  .modal-content {
    margin: auto;
    padding: 0;
    width: 85%;
    height: 40%;
  }
  
}
@media only screen and (max-width: 480px) {
  div.wrapper{
    max-width: 95%;
    top: 50%;
    max-height: 49%;
  }
  #final-value{
    left: 18%;
  }
}
@media only screen and (max-width: 435px) {
  #inputs{
    margin-top: 60px;
  }
}
@media only screen and (max-width: 420px) {
  div.wrapper{
    max-width: 95%;
    top: 50%;
    max-height: 45%;
  }
  .container
  {
    max-height: 75%;
  }
  #spin-btn{
    font-size: 14px;
  }
  #selectimage{
    width: 35px;
    height: 35px;
    top: 50%;
    right: 1%;
  }
  #final-value{
    font-size: 17px;
    left: 16%;
  }
div.input-container{
  top: 70%;
}
div.Headers{
  font-size: 13px;
}
div.Headers > label:nth-child(1) {
  width: 22%;
  margin-left: 1%;
  margin-right: 20%;
}
}
@media only screen and (max-width: 380px) {
  div.wrapper{
    max-height: 41%;
  }
}
@media only screen and (max-width: 340px) {
  div.wrapper{
    max-height: 37%;
  }
  #spin-btn{
    font-size: 10px;
    width: 14%;
    height: 14%;
    top: 50%;
  }
  #final-value{
    font-size: 15px;
    left: 14%;
  }
  #selectimage{
    top: 49%;
    width: 25px;
    height: 25px;
    right: 2%;
  }
  .cograts{
    margin-left: 15%;
  }
}
@media only screen and (max-width: 300px) {
  div.wrapper{
    max-height: 33%;
    padding-left: 20px;
  }
  #final-value{
    font-size: 14px;
    left: 14%;
  }
  .cograts{
    margin-left: 3%;
  }
}
@media only screen and (max-width: 260px) {
  div.wrapper{
    max-height: 29%;
  }
  #final-value{
    font-size: 12px;
    left: 14%;
  }
  #selectimage{
    width: 20px;
    height: 20px;
    top: 50%;
    left: 93%;
  }
  #spin-btn{
    font-size: 8px;
  }
  .cograts, #results span {
    font-size: 15px;
  }
  button.donebtn{
    width: 50%;
    font-size: 15px;
  }
}
@media only screen and (max-width: 235px) {
  div.wrapper{
    max-height: 28%;
  }
  #selectimage{
    top: 45%;
    width: 25px;
    height: 25px;
    left: 90%;
  }
  #inputs{
    margin-top: 90px;
  }
}
@media only screen and (max-width: 200px) {
  div.wrapper{
    max-height: 26%;
  }
  #selectimage{
    top: 43%;
    width: 20px;
    height: 20px;
    left: 90%;
  }
  #spin-btn{
    top: 45%;
  }
}